<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>Great to have you registered with mailflow! 🎉</p>
<p>To make sure it’s really you, please confirm your registration with a single click.</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Confirm registration now</strong></a></p>
<br>
<p><strong>Important:</strong> For security reasons, the confirmation link is only valid for <strong>{{HOURS}} hours</strong>. It’s best to click it right away before it expires.</p>
<p>If you don’t confirm your registration within that time, your account will be deleted.</p>
<p>If you didn’t register, you can simply ignore this email – nothing else will happen.</p>
<br>
<p>Best regards,<br><br>Your mailflow team</p>
<img class="mailflow-logo" src="cid:mailflowLogo" alt="Logo">
<br>
<br>
<p class="text-small">Please do not reply to this email – it was generated automatically.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }

    .mailflow-logo {
        width: 15rem;
    }
</style>
