<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>schön, dass du dich bei mailflow registriert hast! 🎉</p>
<p>Um sicherzugehen, dass du es bist, bitten wir dich, deine Registrierung mit einem Klick zu bestätigen.</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Jetzt Registrierung bestätigen</strong></a></p>
<br>
<p><strong>Wichtig:</strong> Der Bestätigungslink ist aus Sicherheitsgründen nur <strong>{{HOURS}} Stunden gültig</strong>. Am besten klickst du gleich drauf, bevor er abläuft.</p>
<p>Wenn du deine Registrierung nicht innerhalb dieses Zeitraums bestätigst, wird dein Account gelöscht.</p>
<p>Solltest du dich nicht registriert haben, kannst du diese E-Mail einfach ignorieren – es passiert dann nichts weiter.</p>
<br>
<p>Herzliche Grüße,<br><br>Dein mailflow Team</p>
<img class="mailflow-logo" src="cid:mailflowLogo" alt="Logo">
<br>
<br>
<p class="text-small">Bitte antworte nicht auf diese E-Mail, sie wurde automatisch erstellt.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }

    .mailflow-logo {
        width: 15rem;
    }
</style>
