<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>You requested to reset your password. No worries – we can help with that quickly! 🔐</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Reset your password now</strong></a></p>
<br>
<p><strong>Important:</strong> For security reasons, this link is only valid for <strong>{{MINUTES}} minutes</strong>. If it expires, you can always request a new one.</p>
<p>If you didn't make this request, you can simply ignore this email. Your account will remain safe.</p>
<p>If you need help, we're here for you – but please don’t reply directly to this email.</p>
<br>
<p>Best regards,<br><br>Your mailflow team</p>
<img class="mailflow-logo" src="cid:mailflowLogo" alt="Logo">
<br>
<br>
<p class="text-small">Please do not reply to this email – it was generated automatically.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }

    .mailflow-logo {
        width: 15rem;
    }
</style>
