<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>You tried to reset your password – but unfortunately, the link you used is no longer valid. ⏳</p>
<p>No worries: you can easily request a new link.</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Request a new link</strong></a></p>
<br>
<p>If you didn’t request a password reset or need help, we’re happy to assist you – but please don’t reply directly to this email.</p>
<br>
<p>Thank you for your understanding!</p>
<p>Best regards,<br><br>Your mailflow team</p>
<img class="mailflow-logo" src="cid:mailflowLogo" alt="Logo">
<br>
<br>
<p class="text-small">Please do not reply to this email – it was generated automatically.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }

    .mailflow-logo {
        width: 15rem;
    }
</style>
