<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>du hast versucht, dein Passwort zurückzusetzen – allerdings ist der Link, den du verwendet hast, leider nicht mehr gültig. ⏳</p>
<p>Aber kein Problem: Du kannst dir ganz einfach einen neuen Link zuschicken lassen.</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Neuen Link anfordern</strong></a></p>
<br>
<p>Falls du keine Zurücksetzung angefragt hast oder Hilfe brauchst, stehen wir dir gerne zur Verfügung, aber antworte bitte nicht direkt auf diese E-Mail.</p>
<br>
<p>Vielen Dank für dein Verständnis!</p>
<p>Herzliche Grüße,<br><br>Dein mailflow Team</p>
<img class="mailflow-logo" src="cid:mailflowLogo" alt="Logo">
<br>
<br>
<p class="text-small">Bitte antworte nicht auf diese E-Mail, sie wurde automatisch erstellt.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }

    .mailflow-logo {
        width: 15rem;
    }
</style>
