<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>You tried to confirm your registration with mailflow – but unfortunately, the confirmation link has expired. ⏳</p>
<p>For security reasons, it was only valid for a limited time. But no worries: you can register again at any time.</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Register again now</strong></a></p>
<br>
<p>If you didn’t sign up, you can simply ignore this email – no further action is required.</p>
<br>
<p>Best regards,<br><br>Your mailflow team</p>
<img class="mailflow-logo" src="cid:mailflowLogo" alt="Logo">
<br>
<br>
<p class="text-small">Please do not reply to this email – it was generated automatically.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }

    .mailflow-logo {
        width: 15rem;
    }
</style>
