<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>du hast versucht, deine Registrierung bei mailflow zu bestätigen – allerdings ist der Bestätigungslink leider abgelaufen. ⏳</p>
<p>Aus Sicherheitsgründen ist dieser nur für begrenzte Zeit gültig. Aber kein Problem: Du kannst dich jederzeit erneut registrieren.</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Jetzt erneut registrieren</strong></a></p>
<br>
<p>Solltest du dich nicht registriert haben, kannst du diese E-Mail einfach ignorieren – es passiert dann nichts weiter.</p>
<br>
<p>Herzliche Grüße,<br><br>Dein mailflow Team</p>
<br>
<br>
<p class="text-small">Bitte antworte nicht auf diese E-Mail, sie wurde automatisch erstellt.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }
</style>
