<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>du hast angefragt, dein Passwort zurückzusetzen. Kein Problem – das lässt sich schnell erledigen! 🔐</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Jetzt Passwort zurücksetzen</strong></a></p>
<br>
<p><strong>Wichtig:</strong> Aus Sicherheitsgründen ist dieser Link nur <strong>{{MINUTES}} Minuten gültig</strong>. Falls er abläuft, kannst du jederzeit eine neue Anfrage stellen.</p>
<p>Wenn du diese Anfrage nicht gestellt hast, kannst du diese E-Mail einfach ignorieren. Dein Account bleibt sicher.</p>
<p>Falls du Hilfe brauchst, stehen wir dir gerne zur Verfügung, aber antworte bitte nicht direkt auf diese E-Mail.</p>
<br>
<p>Herzliche Grüße,<br><br>Dein MailFlow Team</p>
<br>
<br>
<p class="text-small">Bitte antworte nicht auf diese E-Mail, sie wurde automatisch erstellt.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }
</style>
