<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>wie schön, dass du jetzt Teil von mailflow bist – herzlich willkommen! 🙌</p>
<br>
<p>Das erwartet dich:
    <br>✅ Automatische Kategorisierung deiner E-Mails
    <br>✅ Automatische Antwortgenerierung – damit du dich auf das Wesentliche konzentrieren kannst.
    <br>✅ Wertvolle Analytics zu deinen E-Mails</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Zum Dashboard</strong></a></p>
<br>
<p>Falls du Hilfe brauchst, stehen wir dir gerne zur Verfügung, aber antworte bitte nicht direkt auf diese E-Mail.</p>
<br>
<p>Wir wünschen einen erfolgreichen Start mit mailflow! 🚀</p>
<p>Herzliche Grüße,<br><br>Dein mailflow Team</p>
<br>
<br>
<p class="text-small">Bitte antworte nicht auf diese E-Mail, sie wurde automatisch erstellt.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }
</style>
