<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
</head>
<body>
<h1>{{TITLE}}</h1>
<h3><strong>Hi {{FIRST_NAME}}</strong>,</h3>
<p>We’re thrilled to have you on board with mailflow – welcome! 🙌</p>
<br>
<p>Here’s what you can look forward to:
    <br>✅ Automatic categorization of your emails
    <br>✅ AI-powered response suggestions – so you can focus on what really matters
    <br>✅ Valuable analytics on your email activity</p>
<br>
<p>👉 <a href="{{URL}}"><strong>Go to Dashboard</strong></a></p>
<br>
<p>If you need any help, we’re happy to assist – but please don’t reply directly to this email.</p>
<br>
<p>Wishing you a successful start with mailflow! 🚀</p>
<p>Best regards,<br><br>Your mailflow team</p>
<img class="mailflow-logo" src="cid:mailflowLogo" alt="Logo">
<br>
<br>
<p class="text-small">Please do not reply to this email – it was generated automatically.</p>
</body>
</html>
<style>
    body {
        padding: 2rem;
        font-size: 1rem;
    }

    .text-small {
        font-size: 11px;
    }

    .mailflow-logo {
        width: 15rem;
    }
</style>
